[Desktop Entry]
Name={{.entry_name}}
GenericName=Terminal entering {{.entry_name}}
Comment=Terminal entering {{.entry_name}}
Categories=Distrobox;System;Utility
Exec={{.distrobox_path}} enter{{if .extra_flags}} {{.extra_flags}}{{end}} {{.container_name}}
Icon={{.icon}}
Keywords=distrobox;
NoDisplay=false
Terminal=true
TryExec={{.distrobox_path}}
Type=Application
Actions=Remove;

[Desktop Action Remove]
Name=Remove {{.entry_name}} from system
Exec={{.distrobox_path}} rm{{if .extra_flags}} {{.extra_flags}}{{end}} {{.container_name}}
